@{
    ViewBag.Title = "About";
}

<h1>About</h1>
@{
    
}
<p>Lorem ipusmLorem ipusmLorem ipusm ipusmLorem ipusmLorem ipusm ipusmLorem ipusmLorem ipusm ipusmLorem ipusmLorem ipusm</p>
@await Component.InvokeAsync("Grid", new{
})