
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>
            <p>@ViewBag.ClientID</p>
            <br />
        <p>@ViewBag.ClientSecret</p>
        </div>
    </body>
</html>