@model PersonUpdateRequest
@{
    ViewBag.Title = "Delete Person";
}

<a asp-controller="Persons" asp-action="Index" class="link-hover">Back To Persons List</a>
<h2>Delete Person</h2>

<div class="w-50 flex">
    <form asp-controller="Persons" asp-action="Delete" method="post">
        <input type="hidden" asp-for="PersonId"/>
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" disa/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>

            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>

            </div>
            <div class="flex-1">
                <input asp-for="Email" type="email" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>

            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label pt">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input" />
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>

            <div class="w-25">
                <label class="form-label pt">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (string gender in genders)
                {
                    <input value="@gender" type="radio" asp-for="Gender" class="form-input" />
                    <label asp-for="@gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>

            <div class="w-25">
                <label asp-for="CountryId" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryId" class="form-input" asp-items="ViewBag.Countries">
                    <option selected disabled value="Empty">Select Country</option>
                    <span asp-validation-for="CountryId" class="text-red"></span>
                </select>
            </div>

            <div class="w-25">
                <label asp-for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <input asp-for="Address" class="form-input" />
                <span asp-validation-for="Address" class="text-red"></span>
            </div>

            <div class="w-25">
                <label asp-for="ReceiveNewsLetters" class="form-label pt">Receive News Letters</label>
            </div>
            <div class="flex-1">
                <input value="true" asp-for="ReceiveNewsLetters" type="checkbox" class="form-input" />
                <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
            </div>

        </div>
        <button class="button button-green-back">Update</button>

        @if (ViewBag.Erros != null)
        {
            <div class="text-red">
                <ul>
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li class="ml">@error</li>
                    }
                </ul>
            </div>
        }
    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/Scripts/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
