<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css"/>
</head>
<body>
    <header><h1>Finnhub Service</h1></header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
